{% extends 'layouts/app.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-4">
                <div class="container">
                    <form enctype="multipart/form-data" method="post" action="/store">
                        <p><input type="file" name="file">
                            <input type="submit" value="Отправить"></p>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}